@model Admin.Models.Karir

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Delete Karir</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/css/sb-admin-2.css" rel="stylesheet">
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
    <!-- Additional styles -->
    <style>
        /* Add any additional styles here */
    </style>
</head>

<body id="page-top">
    <div id="wrapper">
        <!-- Sidebar -->
        <!-- ... -->
        <!-- End of Sidebar -->

        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <div class="container-fluid">
                    <h3>Apakah anda yakin menerima karyawan ini ? </h3>
                    <div>
                       
                        <hr />
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Nama)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Nama)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.email)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.email)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Jabatan)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Jabatan)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Berkas)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Berkas)
                            </dd>
                        </dl>
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Terima</button>
                                <a asp-action="Index" class="btn btn-secondary">Kembali</a>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scripts -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Additional scripts if needed -->
</body>
</html>
