@model Admin.Models.Transaksi

@{
    ViewData["Title"] = "Details Transaksi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Details Transaksi</title>

    <!-- Custom fonts for this template -->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/css/sb-admin-2.css" rel="stylesheet">
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body id="page-top">
    <div id="wrapper">
        <!-- Sidebar -->
        <!-- ... -->
        <!-- End of Sidebar -->

        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <h1>Details Transaksi</h1>
                    <div>
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.NamaPembeli)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.NamaPembeli)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Status)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Status)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.TotalBeli)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.TotalBeli)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.TotalHarga)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.TotalHarga)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.ReleaseDate)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.ReleaseDate)
                            </dd>
                        </dl>
                    </div>
                    <div>
                        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-success">Edit</a>
                        <a asp-action="Index" class="btn btn-secondary">Kembali</a>
                    </div>

                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <!-- ... -->
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Validation Scripts -->
    <!-- ... -->
</body>
</html>
